{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Carbon Footprint</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">Bye Bye Carbon</a>
        <div class="header-right">
          <a class="active" href="{% url 'Home'%}">Home</a>
          <a href="{% url 'Calculate'%}">Calculate</a>
          <a href="{% url 'About'%}">About</a>
          <div class="header-right">
            <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
        </div>
        
    </div>
        {%if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    
</body>
</html>