{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 data-aos="fade-up" data-aos-delay="500">Footprint Calculator</h1>
</div>
<div class="sub-heading">

</div>
<section class="calculator" data-aos="fade-up" data-aos-delay="600">
    <div class="container">
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name..." required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter Your E-Mail..." required>
            <label for="subject">Subject:</label>
            <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
            <input type="submit" value="Submit" formaction="">
        </form>
    </div>
</section>
{% endblock %}