{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1 data-aos="fade-up" data-aos-delay="500">Footprint Calculator</h1>
</div>
<div class="sub-heading">

</div>
<section class="calculator" data-aos="fade-up" data-aos-delay="600">
    <div class="container">
        <form
            action = ""
            method="POST">
            {% csrf_token %}
            <label for="Start">Start:</label>
            <input type="text" name="origin" value="{{request.form.origin}}">
            <label for="Destination">Destination:</label>
            <input type="text" name="destination" value={{request.form.destination}}>
            <input type="submit">
        </form>
    </div>
</section>
{% endblock %}