{% extends "base.html" %}
{% block content %}
<div class="title">
    <!--<h1 data-aos="fade-up" data-aos-delay="500">Carbon Footprint</h1>-->
    <div align='left'>
        <h3>What is a carbon footprint?</h3>
        <p>
            Carbon footprint is defined as the amount of CO2 and other carbon compounds emitted due to the consumption of
            fossil fuels by a particular person or group. While a variety of sources contribute to the release of these
            gases as shown below, the largest of these is the transportation sector, accounting for 29% of all carbon
            emissions according to the US EPA. It becomes increasingly important to reduce our emissions of greenhouse gases
            in order to fight rapid climate change which may have lasting impacts on our society. This website will help you
            track your carbon footprint while travelling between places, and compare different modes of transportation to
            minimize your carbon emissions.
        </p>
    </div>
</div>
{% endblock %}